body{
  background-color: aquamarine;
}

h1{
  text-align: center;
}

.game {
  align-items: center;
  display: inline-block;
  padding-left: 20%;
  margin-top: 5%;
  
}

img{
  width: 80%;
}




.down{
  text-align: center;
  margin-top: 5%;
  padding: 3%;
 
}

button{
  font-size: 20px;
  margin: 2% 3%;
}